* {
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-light {
  color: hsl(227, 10%, 46%);
}

.text-space {
  margin-top: 1.5em;
}

.circulo_arriba {
  position: absolute;
  top: -550px;
  left: -350px;
}

.circulo_abajo {
  position: absolute;
  bottom: -650px;
  right: -350px;
}

.card_container {
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 450px;
  border-radius: 25px;
  overflow: hidden;
}

.card_cabeza {
  position: relative;
  min-height: 100px;
  text-align: center;
}

.card_cabeza--imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card_cabeza_img--profile {
  position: absolute;
  top: 100px;
  left: 150px;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
}

.card_cuerpo {
  position: absolute;
  top: 185px;
  width: 100%;
  text-align: center;
}

.card_pie {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  border-top: 2px solid #0000001a;
}

.datos {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 110px;
  text-align: center;
}

.attribution {
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: hsl(228, 61%, 29%);
}
